<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "banner.html" }}
        {{ partial "menu.html" . }}
        <div class="top-container">
            <div class="content-container">
                <div class="title">
                    <h1>{{.Title}} </h1>
                </div>

                {{ .Content }}

                <table class="content-table">
                  {{ range .Pages }}
                    <tr>
                        <td>{{ .Date.Format "2006-01-02" }} </td>
                        <td><a href="{{ .Permalink }}">{{ .Title }} </a></td>
                    </tr>
                  {{ end }}
                </table>
            </div>
        </div>
    </body>
</html>

