    <div class="cpu">
    <pre>
     ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⢀⡀⠀⢀⡀⠀⢀⡀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
     ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠟⠀⠘⠇⠀⠸⠇⠀⠸⠃⠀⠻⠀⠀⠀⠀⠀⠀⠀⠀⠀
     ⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀
     ⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⡟⠛⠛⠛⠛⠛⠛⢻⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀
     ⠀⢠⣤⠄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠠⣤⡄⠀
     ⠀⢀⣀⠀⣿⣿⣿⠛⣛⣛⣛⣛⣛⣛⣛⣛⣛⣛⣛⣛⣛⣛⠛⣿⣿⣿⠀⣀⡀⠀
     ⠀⠈⠉⠁⣿⣿⣿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⣿⠈⠉⠁⠀
     ⠀⠰⠶⠆⣿⣿⣿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⣿⠰⠶⠆⠀
     ⠀⢀⣀⡀⣿⣿⣿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⣿⢀⣀⡀⠀
     ⠀⠈⠉⠀⣿⣿⣿⣤⣭⣭⣭⣭⣭⣭⣭⣭⣭⣭⣭⣭⣭⣭⣤⣿⣿⣿⠀⠉⠁⠀
     ⠀⠘⠛⠂⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠐⠛⠃⠀
     ⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⣧⣤⣤⣤⣤⣤⣤⣼⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀
     ⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀
     ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣦⠀⢠⡆⠀⢰⡆⠀⢰⡄⠀⣴⠀⠀⠀⠀⠀⠀⠀⠀⠀
     ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠈⠁⠀⠈⠁⠀⠈⠁⠀⠉⠀         
            </pre>
    </div>
