// Colors
$primary-background: #0F1419;
$primary-foreground: #B3B1AD;

$normal-black: #01060E;
$normal-red: #EA6C73;
$normal-green: #91B362;
$normal-yellow: #F9AF4F;
$normal-blue: #53BDFA;
$normal-magenta: #FAE994;
$normal-cyan: #90E1C6;
$normal-white: #C7C7C7;

$bright-black: #686868;
$bright-red: #F07178;
$bright-green: #C2D94C;
$bright-yellow: #FFB454;
$bright-blue: #59C2FF;
$bright-magenta: #FFEE99;
$bright-cyan: #95E6CB;
$bright-white: #FFFFFF;

$site-width: 600px;

body {
  color: $primary-foreground;
  background-color: $primary-background;
}

.cpu {
    text-align: center;
}

.nav {
    text-align: center;
    font-size: 30px;
    li {
        display: inline-block;
    }
}

.error {
    text-align: center;
}

.title {
    max-width: $site-width;
    margin: auto;
}

.content {
    max-width: $site-width;
    margin: auto;
}

.content-table {
    border: 1px solid;
    margin: auto;
    width: $site-width;
}

tr td {
    border: 1px solid;
    padding: 3px;
    text-align: left;
}

.mermaid svg {
  max-width: $site-width;
  height: auto;
}


a {
    text-decoration: none;
    padding: 0 .2em 0 .2em;
    border-radius: .3em;
    color: $normal-blue;
}

a:focus,
a:hover,
a.active {
    background-color: $bright-black;
    color: $normal-blue;
}

